<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">

        <ul class="nav nav-tabs">
            {{#each file}}
            <li class="nav-item">
                <a class="nav-link" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab"
                    aria-controls="{{id}}" aria-selected="true"><code>{{label}}</code></a>
            </li>
            {{/each}}
            {{#each folder}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"><code>{{label}}</code></a>
                <div class="dropdown-menu">
                    {{#each file}}
                    <a class="dropdown-item" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab"
                        aria-controls="{{id}}" aria-selected="true"><code>{{label}}</code></a>
                    {{/each}}
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</nav>

<div class="tab-content" id="myTabContent">
    {{#each filetab}}
    <div class="tab-pane fade" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">
        <code>
        {{#each line}}
        {{content}}<br/>
        {{/each}}
        </code>
    </div>
    {{/each}}
</div>