<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">

        <ul class="nav nav-tabs">
            {{#each file}}
            <li class="nav-item">
                <a class="nav-link" id="{{name}}-tab" data-toggle="tab" href="#{{name}}" role="tab"
                    aria-controls="{{name}}" aria-selected="true"><code>{{name}}</code></a>
            </li>
            {{/each}}
            {{#each folder}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"><code>{{dirname}}</code></a>
                <div class="dropdown-menu">
                    {{#each file}}
                    <a class="dropdown-item"id="{{name}}-tab" data-toggle="tab" href="#{{name}}" role="tab"
                    aria-controls="{{name}}" aria-selected="true"><code>{{name}}</code></a>
                    {{/each}}
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</nav>

<div class="tab-content" id="myTabContent">
    {{#each filetab}}
    <div class="tab-pane fade" id="{{name}}" role="tabpanel" aria-labelledby="{{name}}-tab">{{content}}</div>
    {{/each}}
</div>